In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.Series(np.linspace(0,1,num = 5)) ## 시리즈는 넘파이의 배열
data

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [3]:
data.values ## numpy.array 타입의 values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [4]:
type(data.values)

numpy.ndarray

In [5]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
data[1] ## 인덱싱

0.25

In [7]:
data[2:4] ## 슬라이싱

2    0.50
3    0.75
dtype: float64

In [8]:
data[(data>0.1) & (data < 0.5)] ## 마스킹

1    0.25
dtype: float64

In [9]:
data[[2,4]] ## 팬시인덱싱

2    0.5
4    1.0
dtype: float64

In [10]:
list(data.keys()) ## 인덱스 , data.index

[0, 1, 2, 3, 4]

In [11]:
list(data.items()) ## data.values 튜플

[(0, 0.0), (1, 0.25), (2, 0.5), (3, 0.75), (4, 1.0)]

In [12]:
data.index = ["a", "b", "c", "d", "e"] ## 인덱스를 숫자아닌 문자로 구성 가능
data

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [13]:
data.loc["a"]

0.0

In [14]:
data.loc[["a", "b"]]

a    0.00
b    0.25
dtype: float64

In [15]:
data.loc[data>0.7]

d    0.75
e    1.00
dtype: float64

In [16]:
data.loc["a":"c"] ## loc는 우리가 정한 abc, iloc는 디폴트 10234
## loc는 end포팜, iloc는 end 미포함!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!주의ㅣㅣㅣㅣㅣㅣㅣㅣ

a    0.00
b    0.25
c    0.50
dtype: float64

In [17]:
## DataFrame  = Series를 여러개 붙여놓은 형태
np.random.seed(0)

df = pd.DataFrame(np.random.randint(10, size=(5,4)), columns = ['col1', 'col2', 'col3', 'col4'])
df = np.transpose(df)
print(df)

df.iloc[0] = df.iloc[0]+df.iloc[1]
df.drop("col2", axis =0)

      0  1  2  3  4
col1  5  7  2  8  7
col2  0  9  4  8  7
col3  3  3  7  1  8
col4  3  5  6  6  1

      0   1  2   3   4
col1  5  16  6  16  14
col3  3   3  7   1   8
col4  3   5  6   6   1

In [20]:
df['col1']

SyntaxError: invalid syntax (<ipython-input-20-6828c2e9100e>, line 1)

In [ ]:
df.col2

In [ ]:
df.loc[0, "col2":"col3"] ## 0은 행 수

In [ ]:
df.loc[0:0, "col2":"col3"]

In [ ]:
df.loc[[0],"col2":"col3"]

In [ ]:
df.loc[0:2, "col2":"col3"]

In [ ]:
df.loc[(df["col2"]>2) & (df["col3"]<5 ), "col2":"col3"]

In [ ]:
df

In [ ]:
## 열추가
df["total"] = df.sum(axis = 1)
df

In [ ]:
## 행, 열 제거
df = df.drop(columns =["col3", "total"], axis = 1)
df

In [ ]:
df.drop(index=1, axis = 0)

In [ ]:
df = pd.DataFrame([[1,2,3],
                 [4,5,6],
                 [np.nan, 8,9],
                 [10, np.nan, 12]])
df

In [ ]:
df.dropna(axis = 0) ## null값 존재하는 행 지움

In [ ]:
df.fillna(df.mean(axis=0))

In [ ]:
df1 = pd.DataFrame({'name' : ['이순신', '강감찬', '을지문덕', '김유신'],
                   'dept' : ['연구개발', '영업', '연구개발', '인사']})
df2 = pd.DataFrame({"emp_name" :['강감찬', '을지문덕', '이순신', '이순신'],
                   'project' : ['S', 'D', 'A', 'S']}) 
df1

In [ ]:
##병합
pd.merge(df1, df2, left_on='name', right_on='emp_name').drop('emp_name', axis =1)

In [ ]:
df1